<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-l to-black">
  <div class="flex align-middle items-center px-0 gap-6">
    <a class="flex items-center gap-3 max-h-16 text-white border-r-white border-r-2 pr-6 font-bold">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6"
      >
        <path
          fill-rule="evenodd"
          d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
          clip-rule="evenodd"
        />
      </svg>

      <h3 class="text-2xl font-semibold text-white">Dating App</h3>
    </a>
    <!-- <a class="max-h-16 text-white border-r-white border-r-2 pr-6 font-bold">  </a> -->
    <nav class="flex gap-3 my-2 text-lg text-white">
      <a>Matches</a>
      <a>Lists</a>
      <a>Messages</a>
    </nav>
    <div class="flex align-middle ml-auto gap-3">
      @if(loggedIn()){
      <div class="dropdown dropdown-end">
        <div
          tabindex="0"
          role="button"
          class="flex items-center text-white text-xl gap-2 cursor-pointer"
        >
          <img src="/man.png" alt="user avatar" class="w-8 h-8 rounded-full" />
          <span>Bob</span>
        </div>
        <ul
          tabindex="0"
          class="dropdown-content dropdown-end menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
        >
          <li><a>Edit Profile</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
      } @else{
      <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3">
        <input
          [(ngModel)]="creds.email"
          name="email"
          type="text"
          class="input"
          placeholder="Email"
        />
        <input
          [(ngModel)]="creds.password"
          name="password"
          type="password"
          class="input"
          placeholder="password"
        />
        <button type="submit" class="btn">Login</button>
      </form>
      }
    </div>
  </div>
</header>
